
<h2>Meet The law team</h2>

<div class="gallery">
    <a target="_blank" href="../../assets/GSShukla.jpg">
      <img src="../../assets/GSShukla.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Mr. G. S. Shukla</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../../assets/GSShukla.jpg">
      <img src="../../assets/AnkitShukla.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Mr. Ankit Shukla</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../../assets/GSShukla.jpg">
      <img src="../../assets/GSShukla.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Mr. G. S. Shukla</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../../assets/GSShukla.jpg">
      <img src="../../assets/AnkitShukla.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Mr. Ankit Shukla</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../../assets/GSShukla.jpg">
      <img src="../../assets/GSShukla.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Mr. G. S. Shukla</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../../assets/GSShukla.jpg">
      <img src="../../assets/AnkitShukla.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Mr. Ankit Shukla</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../../assets/GSShukla.jpg">
      <img src="../../assets/GSShukla.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Mr. G. S. Shukla</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../../assets/GSShukla.jpg">
      <img src="../../assets/AnkitShukla.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Mr. Ankit Shukla</div>
  </div>